<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- https://developer.mozilla.org/en-US/docs/Web/HTTP/CSP -->
    <meta http-equiv="Content-Security-Policy" content="default-src *; script-src 'self' http://* 'unsafe-inline' 'unsafe-eval'">
    <meta http-equiv="X-Content-Security-Policy" content="default-src 'self'; script-src 'self'">
    <title>Administrador de Hornos</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/app.css">

    <!-- Latest minified bootstrap js -->
    
    
</head>
<body>
<div class="container-fluid">
    <div id="nav-column">
        <span>Organizar por:</span>
        <nav class="bs-component">
            <ul class="nav nav-pills flex-column mb-3">
                <li class="nav-item"><a class="nav-link button" id="clientes">Clientes</a></li>
                <li class="nav-item"><a class="nav-link button" id="asaderas">Asaderas</a></li>
                <li class="nav-item"><a class="nav-link button" id="horno1">Horno 1</a></li>
                <li class="nav-item"><a class="nav-link button" id="horno2">Horno 2</a></li>
                <li class="nav-item"><a class="nav-link button" id="entregados">Entregados</a></li>
            </ul>
        </nav>
        <span>Buscar cliente:</span>
        <form class="form-inline" action="">
            <input class="form-control pl-1 pr-1" type="text" placeholder="Nombre del cliente">
            <button class="btn btn-success btn-sm" type="submit"><img src="../../img/lupa2.png" alt="B" title="Buscar"></button>
        </form>
        <button type="button" id="addClientButton" class="btn btn-primary" onclick="displayNewClientWindow()">Agregar cliente</button>
        <button type="button" id="addAsaderaButton" class="btn btn-primary" onclick="displayNewAsaderaWindow()">Agregar asadera</button>
        <button type="button" id="generateReport" class="btn btn-secondary" onclick="generateReport()">Generar reporte</button>
    </div>
    <div id="content">
        <table id="tableData" class="table table-hover">
            <thead id="theader"></thead>
            <tbody class="tbody" id="tbody"></tbody>
        </table>
    </div>
</div>
<script src="../nav.js"></script>
</body>
</html>