<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- https://developer.mozilla.org/en-US/docs/Web/HTTP/CSP -->
    <meta http-equiv="Content-Security-Policy" content="default-src *; script-src 'self' http://* 'unsafe-inline' 'unsafe-eval'">
    <meta http-equiv="X-Content-Security-Policy" content="default-src 'self'; script-src 'self'">
    <title>Administrador de Hornos</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/app.css">

    <!-- Latest minified bootstrap js -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    
</head>
<body>
<div class="container-fluid">
    <div id="nav-column">
        <p>Organizar por:</p>
        <nav>
            <ul class="nav nav-pills flex-column mb-3">
                <li class="nav-item"><a class="nav-link button" id="asaderas">Asaderas</a></li>
                <li class="nav-item"><a class="nav-link button" id="clientes">Clientes</a></li>
                <li class="nav-item"><a class="nav-link button" id="horno1">Horno 1</a></li>
                <li class="nav-item"><a class="nav-link button" id="horno2">Horno 2</a></li>
            </ul>
        </nav>
        <p>Buscar cliente:</p>
        <form class="form-inline" action="">
            <input class="form-control mr-sm-2 pl-1 ml-1" type="text" placeholder="Nombre del cliente">
            <button class="btn btn-success btn-sm" type="submit">Buscar</button>
        </form>
        <button type="button" id="addClientButton" class="mr-sm-2" onclick="displayNewClientWindow()">Agregar cliente</button>
        <button type="button" id="addAsaderaButton" class="mr-sm-2" onclick="displayNewAsaderaWindow()">Agregar asadera</button>
    </div>
    <div id="content">
        <table id="tableData" class="table table-dark table-hover">
        </table>
    </div>
</div>
<script src="../nav.js"></script>
<script type="text/javascript" src="../content.js"></script>
</body>
</html>